.vscode/*
build/*
*.so
filamentFieldsTest
.DS_Store
.ipynb_checkpoints/test-checkpoint.ipynb

*.e*
*.o*
*.png

filamentFieldsTest

build_release/*
build_debug/*
.venv/
entanglement_proj.png
*.ini

movie_frames/*
